## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build output
bin/
obj/

## OS
.DS_Store
Thumbs.db

## Logs
*.log

# Local dev helper scripts
run-etl-once.ps1


# ETL local runtime output
Etl/.local/
Etl/.local/**

